body {
  background: #eee;
  font-family: sans-serif;
  margin: 0;
  padding: 50px;
}

.search-description {
  font-size: 1em;
  line-height: 1.8em;
}

.search-input {
  padding: .8em 1em;  
}

.search-input,
.search-button {  
  border: solid 1px #eee;
}

.search-button {
  text-transform: uppercase;
  background: #888;
  height: 30px;
  color: #fff;
}

.listitem-gem-name {
  display: inline;
  background-color: yellow;
  opacity: .5;
}

.no-results,
.listitem-gem {
  padding: 1em;
  margin: 1em 0;
  line-height: 1.4em;
  border: solid 1px #000;
}